.payment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3px 0;
  margin: 2px 0 0 17vw;
  border: solid 1px #555;
  border-radius: 2px;
  width: 83vw;
}

.payment > span {
  padding: 0 1em;
}

.name {
  font-weight: bold;
}

@media screen and (max-width: 380px) {
  .payment {
    margin: 0;
  }
}