.payment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;
  border-right: 0;
}

.payment > span {
  padding: 0 1em;
}