.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  width: 100px;
  border-radius: 50%;
}

.heading {
  margin-top: 1em;
}

@media screen and (max-width: 480px) {
  .transactions {
    width: 80vw;
  }

  .heading {
    font-size: 24px;
  }
}